body {
    font-family: Arial, Helvetica, sans-serif;

}

header {
    display: flex;
    max-width: 100%;
    background-color: #004080;
    justify-content: space-between;
    padding:20px;
    margin: 0;
}

header h1 {
    color: #ffffff;
}

.navigation {
    display: flex;
    background-color: #003366;
    justify-content: space-evenly;
    padding: 10px;
    max-width: 100%;
}

.navigation a {
    text-decoration: none;
    color:#ffffff;
}

.navigation a:hover{
    text-decoration: underline;
}

#about_lms {
    text-align: center;
    padding: 20px;
    margin: 20px;
}


main {
    background-color: #d4d4d4;
    text-align: center;
    padding: 20px;
    max-width: 100%
}

.login {
    display: flex;
    background-color: #d4d4d4;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 30px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px 5px #cccccc;
}

.login input {
    margin-left: 125px;
    margin-right: 125px;
    background-color: lightyellow;
    padding: 10px;
    border-radius: 5px;
    border-color: darkgrey;
    border-width: 3px;
}

.loginbutton {
    color: #ffffff;
    background-color: #008000;
    padding: 10px;
    border-radius: 5px;
    border-width: 0px;
}

.loginbutton:hover {
    background-color: #006600;
}

.signupbutton {
    color: #ffffff;
    background-color: #4caf50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
}

.signupbutton:hover {
    background-color: #45a049;
    opacity: 1.0
}

#login-popup {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

#signup-popup {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

main h2 {
    color: #004080;
    margin-top: 0;
}

form a {
    color: #004080;
    text-decoration: none;
}

select {
    background-color: lightyellow;
    border-radius: 5px;
    padding: 5px;
}

td .course {
    background-color: #e6f2ff;
    box-shadow: 3px 3px 5px 5px #cccccc;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
}

.course:hover {
    background-color: #ffffff;
}

td .accept {
    background-color: #4caf50;
    color: #ffffff;
    padding: 5px;
    border-width: 0;
    border-radius: 5px;
}

td .decline {
    background-color: #d32f2f;
    color: #ffffff;
    padding: 5px;
    border-width: 0;
    border-radius: 5px;
}

td .accept:hover {
    background-color: #265e28;
}

td .decline:hover {
    background-color: #821b1b;
}

#quiz_banner {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

.C-Q_details{
    font-size: large;
    font-weight: bold;
    text-align: center;
    background-color: lightblue;
    padding: 20px;
    margin-left: 250px;
    margin-right: 250px;
}

.Question{
    padding: 25px 50px;
    background-color: #cacaca;
    text-align: left;
    margin-left: 500px;
    margin-right: 500px;
}

.quiz_button{
    background-color: lightblue;
    color: black;
    padding: 5px;
    border-width: 0;
    border-radius: 5px;
}

.quiz_button:hover{
    background-color: darkblue;
    color: white;
}

.finish_button{
    background-color: #d32f2f;
    color: white;
    padding: 5px;
    border-width: 0;
    border-radius: 5px;
}

.finish_button:hover{
    background-color: #821b1b;
    color: white;
}

#ranking_table{
    width: 100%;
    border-collapse: collapse;
}

.table_header{
    background-color: #4caf50;
    color: white;
    height: 50px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.first td{
    text-align: center;
    background-color: #ffd700;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.second td{
    text-align: center;
    background-color: #c0c0c0;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.third td{
    text-align: center;
    background-color: #cd7f32;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}   

.alternateRow1 td{
    text-align: center;
    background-color: #f9f9f9;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}   

.alternateRow2 td{
    text-align: center;
    background-color: #e4e2e2;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}   

.pfp{
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    height: 50px;
}

footer {
    max-width: 100%;
    background-color: #004080;
    padding: 10px;
    text-align: center;
}

footer p {
    color: #ffffff;
}
